<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sc.qisi_system.module.user.mapper.SysUserMapper">

    <select id="countTotalUser" resultType="long">
        select count(1) from sys_user
    </select>
</mapper>